<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Hi Welcome Admin

<div align="center">
<form action="/DisplaySimpleMembers" method="post">
<input type="submit" id="displaySimpleMember" value="Display Simple Members"	onclick="submit()">

</form>
<form action="/DisplayPremiumMembers" method="post">
<input type="submit" id="displayPremiumMember" value="Display Premium Members"	onclick="submit()">

</form>

<form action="/DisplayPersons" method="post">
<input type="submit" id="displayPersons" value="Display Persons"	onclick="submit()">

</form>

<form action="/CreateNewMovie" method="post">
<input type="submit" id="displayPersons" value="Create New Movie"	onclick="submit()">

</form>

<form action="/GetAllMovie" method="post">
<input type="submit" id="GetAllMovie" value="Get All Movie"	onclick="submit()">

</form>


</div>

</body>
</html>