<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script type="text/javascript" src="RemoveMovie.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.js"><</script>
<script type="text/javascript" src="/js/jquery.jeditable.js"><</script>
 <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				/* Init DataTables */
				var oTable = $('#movies').dataTable();
				
				/* Apply the jEditable handlers to the table */
				oTable.$('td').editable( '/UpdateMovie', {
					"callback": function( sValue, y ) {
						 
				            oTable.fnDraw();
						
					},
					"submitdata": function ( value, settings ) {
						return {
							"row_id": this.parentNode.getAttribute('id'),
							"column": oTable.fnGetPosition( this )[2]
						};
					},
					"height": "14px",
					"width": "100%"
				} );
			} );
		</script>
<title>{{title}}</title>
</head>
<body>
<form id='form2' method="post" action="/SaveMovies">
			</br>
			</br>


			<table border="1" width="900px" align="center" id="movies">
			 <thead>
				<tr>
					<th>MovieId</th>
					<th>Movie Name</th>
					<th>Movie Banner</th>
					<th>Release Date</th>
					<th>Rent Amount</th>
					<th>Available Copies</th>
					<th>Category</th>
					<th>Action</th>
				</tr></thead>
				<tbody>
				{{#each MovieResults}}
				<tr id="{{movieId}}">
					<td>{{movieId}}</td>
					<td>{{movieName}}</td>
					<td>{{movieBanner}}</td>
					<td>{{releaseDate}}</td>
					<td>{{rentAmount}}</td>
					<td>{{availableCopies}}</td>
					<td>{{category}}</td>
					<td><input type="button" id="{{movieId}}" class="button"
						value="Remove" /></td>
				</tr>
				{{/each}}
				</tbody>
			</table>
			</br>
			</br>
		</form>
</body>
</html>