<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
<title>SignUp</title>





</head>
<body>
	<center>
		<h2>AmAzon</h2>
	</center>
	<div id="signUp" style="position: absolute; top: 84px; left: 500px;">
		<form name="signUp" method="Post" action="/SignUpCheck" form
			autocomplete="off">
			<table border="0" width="300px">
				<tr>
					<td><label>First Name </label></td>
					<td><input type="text" name="firstName" /></td>
				</tr>
				<tr>
					<td><label>Last Name</label></td>
					<td><input type="text" name="lastName" /></td>
				</tr>
				<tr>
					<td><label>Address</label></td>
					<td><input type="text" name="address" /></td>
				</tr>
			
				<tr>
					<td><label>City</label></td>
					<td><input type="text" name="city" /></td>
				</tr>
				<tr>
					<td><label>State</label></td>
					<td><input type="text" name="state" /></td>
				</tr>
				
				<tr>
					<td><label>ZipCode</label></td>
					<td><input type="text" name="zipcode" /></td>
				</tr>
				
				<tr>
					<td><label>Email</label></td>
					<td><input type="text" name="email" /></td>
				</tr>
				
				<tr>
					<td><label>UserName</label></td>
					<td><input type="text" name="userName" /></td>
				</tr>
				<tr>
					<td><label>Password</label></td>
					<td><input type="password" name="password" /></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="SignUp"></td>
					<td><input type="reset" value="Reset"></td>
				</tr>
			</table>
		</form>

	</div>
</body>
</html>